# Python Tuples Exercises

In [84]:
#Q1 Create myTuple tuple with the follwoing values 
#("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)

In [85]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [86]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [110]:
#Q4 print the values in each index #Use regular indexing 
for num, item in enumerate(myTuple):
    print(f"Index {num}: {item}")

Index 0: NPower
Index 1: JDA
Index 2: Tuesday
Index 3: 30
Index 4: 3
Index 5: 2021

In [126]:
#Q5 print the values in each index #Use negative indexing
length = len(myTuple)
print(length)
for num in range(-1, -length-1, -1):
    print(f"Index {num}: {myTuple[num]}")

6
Index -1: 2021
Index -2: 3
Index -3: 30
Index -4: Tuesday
Index -5: JDA
Index -6: NPower

In [91]:
#Q6 what is the type of each value
for index, item in enumerate(myTuple):
    print(f"Type of index {index} in myTuple: {type(item)}")

Type of index 0 in myTuple: <class 'str'>
Type of index 1 in myTuple: <class 'str'>
Type of index 2 in myTuple: <class 'str'>
Type of index 3 in myTuple: <class 'int'>
Type of index 4 in myTuple: <class 'int'>
Type of index 5 in myTuple: <class 'int'>

In [92]:
#Q7 unpack myTuple in the follwoeing variables 
#name,program,dayName,month,day,year accordingly 
# print the variables
name, program, dayName, month, day, year = myTuple
print(name, program, dayName, month, day, year)

NPower JDA Tuesday 30 3 2021

In [93]:
#Q8 unpack myTuple2 in the following variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
name, program, dayName = myTuple[:3]

In [94]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [95]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [96]:
#Q9 Reverse myTuple, output should looks like 
#(2021,3,30,"Tuesday","JDA","NPower")
myTuple[::-1]

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [97]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [98]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [99]:
#Q12 print each element in the nestedTuple

# I made a recursion for this to be able to print each element even in a 100x nested tuple, list or set
def print_each_element(nested, nested_data_types=(tuple, list, set)):
    for element in nested:
        if type(element) not in nested_data_types:
            print(element)
        else:
            print_each_element(element)
print_each_element(nestedTuple)

Coursera
course
6
week
2
Lists
Tuple

In [60]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [61]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [62]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [63]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [64]:
#Q17 Concatenate myTuple with nestedTuple
myTuple+nestedTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [65]:
#Q18 add your name to the tuple
concatenated_tuple = myTuple+nestedTuple

In [101]:
#Q19 check whether Coursera exists within  myTuple

# NOTE "in" doesn't work properly with nested tuples
print("Coursera" in myTuple)
print("Coursera" in nestedTuple)
print("Coursera" in nestedTuple[0])

False
False
True

In [102]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
55 in testTuple

True

In [103]:
#Q21 Find the index of JDA in myTuple
print(myTuple.index("JDA"))

# Find the index of 'Coursera' in myTuple
print(myTuple.index("Coursera"))
# NOTE index doesn't work properly with nested tuples # Wrong output

1

ValueError: tuple.index(x): x not in tuple

In [104]:
#Q22 print index 8 from myTuple
myTuple[8]

IndexError: tuple index out of range

In [105]:
#Q23 Get the 4th element from the begining of myTuple
print(myTuple[3])
#and 4th element from last of a myTuple
print(myTuple[-4])

30
Tuesday

In [79]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2